<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plasticoin Map</title>
   <link rel="stylesheet" href="/css/front.css">
   <link rel="icon" href="https://www.plasticoin.com.uy/images/favicon-plasticoin.png" type="image/x-icon">
</head>
<body id="body">
    <div id="header" class="divheader">
       <header class="header">
           <div class="headcontainer">
                <nav class="menu">
                    <div class="menu__container">
                        <div class="logo">
                            <a class="alogo" href="https://www.plasticoin.com.uy">
                                <img class="logoimg" src="/recursos/logo.png" alt="">
                            </a>
                        </div>
                        <div class="threeline__menu">
                            <button class="threeline__button" onclick="hiddeShowDesMenu()">
                                <svg class="svgg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
                                </svg>
                            </button>
                        </div>
                        <div class="divmenu">
                            <div class="text">
                                <a href="https://www.plasticoin.com.uy/nosotros">
                                    Nosotros
                                </a>
                                <a href="https://www.plasticoin.com.uy/como-ayudar-a-reciclar">
                                    Centros de Acopio
                                </a>
                                <a href="https://www.plasticoin.com.uy/obtener-beneficios">
                                    Obtener beneficios
                                </a>
                                <a href="https://www.plasticoin.com.uy/empresas">
                                    Empresas
                                </a>
                            </div>
                            <div class="log__reg">
                                <a class="log" href="https://www.plasticoin.com.uy/ingresar">
                                    Ingresar
                                </a>
                                <a class="reg" href="https://www.plasticoin.com.uy/registrarse">
                                    Registrarse
                                </a>
                            </div>
                        </div>
                    </div>
                   <div id="desmenu" class="menu__des hidden">
                        <div class="des__container">
                            <a href="https://www.plasticoin.com.uy/nosotros">
                                Nosotros
                            </a>
                            <a href="https://www.plasticoin.com.uy/como-ayudar-a-reciclar">
                                Centros de Acopio
                            </a>
                            <a href="https://www.plasticoin.com.uy/obtener-beneficios">
                                Obtener beneficios
                            </a>
                            <a href="https://www.plasticoin.com.uy/empresas">
                                Empresas
                            </a>
                            <a href="https://www.plasticoin.com.uy/registrarse" >
                                Registrarse
                            </a>
                            <a href="https://www.plasticoin.com.uy/ingresar" >
                                Ingresar
                            </a>
                        </div>
                    </div>
                </nav>
           </div>
       </header>
    </div>

    <div id="filter_container" class="filter__container">
        <div class="filter__menu" id="menu_filter">
            <div class="filter__inside">
                <div class="title__menu"> 
                    <div class="lupa__filter">
                        <img src="/recursos/lupa.jpg" alt="" class="lupa__img">
                    </div>
                    <div class="search">
                        <h1 class="serach__text">
                            Buscador
                        </h1>
                    </div>
                </div>
                <div class="filtro">
                    <div>
                        <label class="container empresa"> Empresas Adheridas
                            <input type="checkbox" id="empresas" checked>
                            <span class="checkmark checkmark__empresa"></span>
                        </label>
                    </div> 
                    <div>
                        <label class="container beneficio"> Empresas Responsables
                            <input type="checkbox" id="beneficio" checked>
                            <span class="checkmark checkmark__beneficio"></span>
                        </label>
                    </div>
                    <div>
                        <label class="container acopio"> Centros de Acopio
                            <input type="checkbox" id="acopio" checked>
                            <span class="checkmark checkmark__acopio"></span>
                        </label>
                    </div> 
                </div>
            </div>
        </div>
    </div>  
    <div class="menu__button" id="button">
        <button type="button" onclick="menuToggle()">
            <img id="lupa" class="lupa" src="/recursos/lupa.jpg" alt="">
            <img src="/recursos/arrow.png" alt="" class="arrow" id="arrow">
        </button>
    </div>
    
    <div id="myMap" class="myMap"></div>
    
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
    integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
    crossorigin=""></script>

    <script src="/js/filtro.js"></script>
    <script src="/js/map-front.js"></script>
</body>
</html>
